/* ==========================================================================
   1.Base
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700,300&subset=latin,cyrillic);
html {
  font-size: 1em;
}

body {
  background-color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #3b3b3b;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

img {
  max-width: 100%;
}

/* ==========================================================================
   2.Layout
   ========================================================================== */
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

/* Sections */
.contentWrap > section {
  padding: 70px 0 50px;
}

.contentWrap > section .container > h2 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.contentWrap > section .container > h3 {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 65px;
}

/* Footer */
footer {
  height: 70px;
}

footer .copyright {
  margin: 0;
  font-size: 0.875em;
  line-height: 70px;
}

/* ==========================================================================
   3.Module
   ========================================================================== */
/* 3.1 Partial Modules
   ========================================================================== */
/* Buttons */
.bBtn {
  font-size: 0.875rem;
  font-weight: 700 !important;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  padding: 10px 15px;
}

.bBtn.mDef {
  color: #3b3b3b;
  border: 1px solid #3b3b3b;
  background: inherit;
}

.bBtn.mDef:hover, .bBtn.mDef:focus {
  background: #f5f6f9;
}

.bBtn.mLead {
  /* Old browsers */
  background: #34c9e3;
  background: -webkit-linear-gradient(top, #34c9e3 0%, #5cccae 100%);
  background: linear-gradient(to bottom, #34c9e3 0%, #5cccae 100%);
  color: #fff;
}

.bBtn.mLead:hover, .bBtn.mLead:focus {
  background: -webkit-linear-gradient(top, #5cccae 0%, #34c9e3 100%);
  background: linear-gradient(to bottom, #5cccae 0%, #34c9e3 100%);
}

.bBtn.mFullW {
  width: 100%;
}

/* Modal form */
.bModalForm .bModalDialog {
  width: auto;
}

.bModalForm .bModalDialog .bModalContent {
  border: 0;
  border-radius: 0;
}

.bModalForm .bModalDialog .bModalContent .eCloseBtn {
  position: absolute;
  top: -1em;
  right: -1em;
  padding: 0;
  cursor: pointer;
  background: transparent;
  color: #50cbbe;
  font-size: 1.375em;
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

.bModalForm .bModalDialog .bModalContent .eCloseBtn .fa + .fa {
  color: #fff;
}

/* Form Call Back */
.bFormCall {
  padding: 40px 28px 30px;
  border: 2px solid #f1f1f1;
  text-align: center;
  background: #fff;
}

.bFormCall input, .bFormCall textarea {
  border: 1px solid #f1f1f1;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: 8px 14px;
}

.bFormCall input {
  height: 40px;
}

.bFormCall .eTitle {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 20px;
}

.bFormCall .bFormGr {
  margin: 0 0 10px;
}

/* Page Preloader */
.bPreloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #DADADA;
  z-index: 100500;
}

.bPreloader .bPreloaderContent {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
}

.bPreloader .bPreloaderContent .bBrand {
  text-align: center;
  width: 100%;
  margin: 0 auto 50px;
}

.bPreloader .bPreloaderContent svg path {
  fill: #50cbbe;
}

/* 3.2 Navigation Bar
   ========================================================================== */
/* Brand */
.bBrand {
  height: 70px;
  padding: 20px 15px 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.625em;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #3b3b3b;
}

.bBrand span {
  color: #50cbbe;
}

.bBrand strong {
  display: block;
  font-size: 0.38461em;
  margin-top: 4px;
}

/* Navigation List */
.bNavList li {
  position: relative;
}

.bNavList li a:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #50cbbe;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.bNavList li a:hover, .bNavList li a:focus {
  background-color: #f5f6f9;
}

.bNavList li a:hover:after, .bNavList li a:focus:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.bNavList li.active a {
  background: #50cbbe;
  color: #fff;
}

.bNavList li.active a:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* Contacts List */
.bContactsList {
  font-size: 0.75em;
  font-weight: 700;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.bContactsList i {
  margin-right: 16px;
}

.bContactsList li {
  float: none;
}

.bContactsList li a {
  padding: 6px;
  font-weight: 700;
}

.bContactsList li a:hover, .bContactsList li a:focus {
  background-color: inherit;
}

/* NavBar */
.bNavBarHead {
  height: 70px;
  background: #f9fbfe;
  color: #3b3b3b;
  border: 0;
  border-radius: 0;
  margin: 0;
  /* Navbar Elements */
  /* NavBar Toggle Button */
  /* Navbar Call Button */
}

.bNavBarHead a {
  color: #3b3b3b;
  font-weight: 400;
}

.bNavBarHead .navbar-collapse {
  text-align: center;
  background: #f9fbfe;
}

.bNavBarHead .navbar-collapse,
.bNavBarHead .navbar-form {
  border-color: #e7e7e7;
}

.bNavBarHead .eToggleBtn {
  margin: 0;
  height: 70px;
  width: 70px;
  background: #50cbbe;
  border: 0;
  border-radius: 0;
  padding: 10px 24px;
}

.bNavBarHead .eToggleBtn .icon-bar {
  background-color: #3b3b3b;
}

.bNavBarHead .eToggleBtn:hover, .bNavBarHead .eToggleBtn:focus {
  background: #84dbd1;
}

.bNavBarHead .eNavBarBtn {
  display: block;
  margin: 0 0 10px;
}

/* 3.3 Sections
   ========================================================================== */
/* Section Banner */
.secBanner {
  background: url("../img/bg-sec-banner.jpg") center no-repeat;
  background-size: cover;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.secBanner h1 {
  font-size: 0.75em;
  font-weight: 700;
  margin-bottom: 0.2em;
  text-shadow: 1px 2px 0 rgba(32, 8, 0, 0.24);
}

.secBanner p {
  margin-bottom: 0.6em;
}

.secBanner h2 {
  display: inline-block;
  padding: 11px 45px;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 0;
  text-shadow: 1px 1px 0 rgba(32, 8, 0, 0.05);
}

/* Section About Us */
.secAboutUs {
  background: #f0f0f2;
  padding-bottom: 0 !important;
  /* Features Circle Block */
}

.secAboutUs h2 {
  margin: 0 0 86px;
}

.secAboutUs .container {
  padding-bottom: 50px;
}

.secAboutUs .bFeaturesCircle .bItemCircle {
  text-align: center;
  margin: 0 0 40px;
  /* Features Circle Icons */
  /* Features Circle Title */
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  background: #f7f7f7;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -35px auto 0;
  width: 66px;
  height: 69px;
  background-image: url("../img/features-circle/features-circle-sprite.png");
  background-repeat: no-repeat;
  z-index: 9;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: #34c9e3;
  background: -webkit-linear-gradient(top, #34c9e3 0%, #5cccae 100%);
  background: linear-gradient(to bottom, #34c9e3 0%, #5cccae 100%);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity .25s ease, -webkit-transform .3s ease;
  transition: opacity .25s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .25s ease;
  transition: transform .3s ease, opacity .25s ease, -webkit-transform .3s ease;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon.iconAreaChart:before {
  background-position: -81px -5px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon.iconKeyExchange:before {
  background-position: -81px -84px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon.iconMicroscope:before {
  background-position: -157px -84px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon.iconShape:before {
  background-position: -81px -163px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:hover.iconAreaChart:before {
  background-position: -5px -5px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:hover.iconKeyExchange:before {
  background-position: -5px -84px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:hover.iconMicroscope:before {
  background-position: -157px -5px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eIcon:hover.iconShape:before {
  background-position: -5px -163px;
}

.secAboutUs .bFeaturesCircle .bItemCircle .eTitle {
  width: 160px;
  margin: 25px auto 0;
  font-size: 1em;
  font-weight: 700;
}

/* Section Features */
.secFeatures {
  position: relative;
  padding: 0 !important;
  height: 458px;
  overflow: hidden;
}

.secFeatures .bItemFeature {
  height: 458px;
  overflow: hidden;
  color: #fff;
}

.secFeatures .bItemFeature.bItem1 {
  background: url("../img/slider-features/bg-slide-1.jpg") center no-repeat;
  background-size: cover;
}

.secFeatures .bItemFeature.bItem2 {
  background: url("../img/slider-features/bg-slide-2.jpg") center no-repeat;
  background-size: cover;
}

.secFeatures .bItemFeature.bItem3 {
  background: url("../img/slider-features/bg-slide-3.jpg") center no-repeat;
  background-size: cover;
}

.secFeatures .bItemFeature .bDescr {
  font-size: 1.25em;
}

.secFeatures .bItemFeature .bDescr .eTitle {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

.secFeatures .bItemFeature .bDescr .eMore {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.secFeatures .bItemFeature .bDescr .eMore:after {
  content: ' \003e';
}

.secFeatures .bItemFeature .bDescr .eMore:hover, .secFeatures .bItemFeature .bDescr .eMore:focus {
  text-decoration: none;
}

.secFeatures .bSliderControls .ePrev, .secFeatures .bSliderControls .eNext {
  display: inline-block;
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 30px;
  margin-top: -27px;
  width: 54px;
  height: 54px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 9;
}

.secFeatures .bSliderControls .ePrev:after, .secFeatures .bSliderControls .eNext:after {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  z-index: -1;
  background: #34c9e3;
  background: -webkit-linear-gradient(top, #34c9e3 0%, #5cccae 100%);
  background: linear-gradient(to bottom, #34c9e3 0%, #5cccae 100%);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity .25s ease, -webkit-transform .3s ease;
  transition: opacity .25s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .25s ease;
  transition: transform .3s ease, opacity .25s ease, -webkit-transform .3s ease;
}

.secFeatures .bSliderControls .ePrev:hover:after, .secFeatures .bSliderControls .eNext:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.secFeatures .bSliderControls .ePrev .fa, .secFeatures .bSliderControls .eNext .fa {
  line-height: 50px;
}

.secFeatures .bSliderControls .ePrev {
  left: 30px;
}

.secFeatures .bSliderControls .eNext {
  right: 30px;
}

/* Section Portfolio */
.contentWrap .secPortfolio {
  padding-bottom: 0;
}

.secPortfolio .bPortfolioItems .bPItem {
  position: relative;
  display: inline-block;
  width: 25%;
  float: left;
  overflow: hidden;
}

.secPortfolio .bPortfolioItems .bPItem .eThumb {
  margin: 0;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink, .secPortfolio .bPortfolioItems .bPItem .bDescr .eText {
  -webkit-transition: opacity .25s ease, -webkit-transform .3s ease;
  transition: opacity .25s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .25s ease;
  transition: transform .3s ease, opacity .25s ease, -webkit-transform .3s ease;
  opacity: 0;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink {
  position: relative;
  height: 60%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(52, 201, 227, 0.8) 0%, rgba(92, 204, 174, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(52, 201, 227, 0.8) 0%, rgba(92, 204, 174, 0.8) 100%);
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink a {
  position: absolute;
  top: 55%;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5625em;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink a:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -15px;
  margin-top: -15px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink a:focus:before {
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink a .fa-circle {
  color: #fff;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eLink a .fa-link {
  color: #777777;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eText {
  height: 40%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.875em;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eText.mVCenter {
  position: relative;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eText.mVCenter:before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eText.mVCenter .mVCenterTarget {
  display: inline-block;
  vertical-align: middle;
}

.secPortfolio .bPortfolioItems .bPItem .bDescr .eText h4 {
  margin: 0 0 5px;
  font-size: 1.142857em;
  font-weight: 300;
}

.secPortfolio .bPortfolioItems .bPItem:hover .eLink, .secPortfolio .bPortfolioItems .bPItem:hover .eText {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* Section Prices */
.secPrices .bPrices .bPriceCart {
  position: relative;
  width: 270px;
  height: 578px;
  border: 1px solid #f1f1f1;
  margin: 0 auto 40px;
  overflow: hidden;
  /* Price Cart Lead M*/
}

.secPrices .bPrices .bPriceCart .bHeader .eTitle {
  line-height: 100px;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
  background: #f1f1f1;
}

.secPrices .bPrices .bPriceCart .bContent {
  height: 100%;
  padding: 36px 30px 32px;
}

.secPrices .bPrices .bPriceCart .bContent .bPriceTitle .ePrice {
  position: relative;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 3.375em;
  margin-bottom: 40px;
}

.secPrices .bPrices .bPriceCart .bContent .bPriceTitle .ePrice span {
  position: absolute;
  top: 0;
  vertical-align: top;
  font-size: 0.555555em;
  font-weight: 400;
  margin: 0 0 0 5px;
}

.secPrices .bPrices .bPriceCart .bContent .bPriceTitle .ePrice span b {
  font-weight: 400;
}

.secPrices .bPrices .bPriceCart .bContent .bPriceTitle .ePrice .fa {
  vertical-align: top;
  font-size: 1em;
  line-height: 1.45;
  margin-left: 4px;
}

.secPrices .bPrices .bPriceCart .bContent .bPriceTitle .eDescr {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  color: #50cbbe;
}

.secPrices .bPrices .bPriceCart .bContent .eLine {
  width: 32%;
  height: 2px;
  background: #50cbbe;
  margin-bottom: 48px;
}

.secPrices .bPrices .bPriceCart .bContent .bList {
  text-transform: uppercase;
}

.secPrices .bPrices .bPriceCart .bContent .bList li {
  font-size: 0.875em;
  line-height: 2.57142em;
}

.secPrices .bPrices .bPriceCart .bContent .bBotBtn {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  text-align: center;
}

.secPrices .bPrices .bPriceCart.mCartLead .bHeader .eTitle {
  color: #fff;
  line-height: 110px;
  background: #34c9e3;
  background: -webkit-linear-gradient(top, #34c9e3 0%, #5cccae 100%);
  background: linear-gradient(to bottom, #34c9e3 0%, #5cccae 100%);
}

/* Section Contacts */
.secContacts .bMap {
  height: 300px;
  width: 100%;
  margin: -70px 0 -50px;
}

.secContacts .bMap .gm-style-iw * {
  display: block;
  width: 100%;
}

.secContacts .bMap .gm-style-iw h4, .secContacts .bMap .gm-style-iw p {
  margin: 0;
  padding: 0;
}

.secContacts .bMap .gm-style-iw a {
  color: #4272db;
}

/* ==========================================================================
   4.State
   ========================================================================== */
/* 4.1 Layouts
   ========================================================================== */
/* Vertical Align Middle Blocks */
.mBlockMiddle {
  display: table;
  width: 100%;
  border: 0;
}

.mBlockMiddle .mBlockMiddleTarget {
  display: table-cell;
  vertical-align: middle;
}

/* 4.2 Modules
   ========================================================================== */
/* Font Awesome Correct */
.fa.fa-rub {
  font-size: 0.9166666em;
}

/* TWBS modal popup vertical center */
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* TWBS Modal Z-index Correct */
.modal-backdrop {
  z-index: 1200;
}

.modal {
  z-index: 1300;
}

/* 4.3 Animation
   ========================================================================== */
/* Transition elements */
a,
input,
select,
button,
.btn {
  -webkit-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
}

/* ==========================================================================
   5.Media Queries
   ========================================================================== */

@media (min-width: 768px){
  .bBtn{
    padding: 15px 25px;
  }
  .bFormCall{
    width: 350px;
  }
  .bNavList li a{
    line-height: 42px;
    height: 70px;
  }
  .bNavList li.active a{
    padding-bottom: 13px;
    background: #f5f6f9;
    color: #3b3b3b;
  }
  .bNavList{
    font-size: 0.75em;
    text-transform: uppercase;
  }
  .bContactsList{
    float: right;
    border: 0;
  }
  .bNavBarHead .navbar-collapse{
    text-align: left;
    background: inherit;
  }
  .bNavBarHead .eNavBarBtn{
    display: none;
    margin: 0;
  }
  .bNavBarHead .eNavBarBtn .bBtn{
    padding: 15px;
  }
  .secBanner{
    min-height: 730px;
    padding-top: 70px;
    font-size: 2.5em;
    background-attachment: fixed;
  }
  .secPrices .bPrices .bPriceCart.mCartLead{
    margin-top: -21px;
    height: 620px;
    width: 290px;
  }
  .secContacts .bMap{
    height: 530px;
  }
}

@media (min-width: 992px){
  .bContactsList{
    float: left;
  }
  .bNavBarHead .eNavBarBtn{
    display: block;
    float: right;
  }
  .secAboutUs .bFeaturesCircle .bItemCircle{
    margin: 0;
  }
}

@media (min-width: 1200px){
  .bContactsList li a{
    padding: 25px 15px;
  }
  .bContactsList li{
    float: left;
  }
}

@media (max-width: 480px){
  .secPortfolio .bPortfolioItems .bPItem{
    width: 100%;
  }
}

/*# sourceMappingURL=maps/main.css.map */
